<tr id="<%= dom_id(todo) %>">
  <td class="border-b p-2" width="1%">
    <%= fields_for(todo) do |f| %>
      <%= f.check_box :completed?, { data: { reflex: 'change->TodosReflex#toggle', sgid: todo.to_sgid.to_s } } %>
    <% end %>
  </td>
  <td class="border-b p-2">
    <%= link_to todo.description, edit_todo_path(todo), class: ['text-blue-500 hover:underline', ('line-through text-gray-500' if todo.completed?)] %>
  </td>
  <td class="border-b p-2">
    <%= tag.span(todo.todo_list.name, class: ('line-through text-gray-500' if todo.completed?)) if todo.todo_list.present? %>
  </td>
  <td class="border-b p-2">
    <%= tag.span(todo.assignee.name, class: ('line-through text-gray-500' if todo.completed?)) if todo.assignee.present? %>
  </td>
</tr>
